/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    font-family: Serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    word-wrap: break-word;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

dd {
    padding: 10px 0px;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {

}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #5E81C5;
    width: 100%;
}

.main aside {
    border-top: 20px solid #5E81C5;
}

.header-container,
.main aside {
    background: #85A2DC;
}

.title {
    color: white;
    font-family: Vivaldi, cursive;
    margin-right: 10px;

    height: 60px;
}


.main-container {
    width: 100%;
}



/* ==============
    MOBILE: Menu
   ============== */

a {
    word-wrap: break-word;
}


nav ul {
    margin-top: 75px;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-top: 10px;
    padding: 1px 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    background: #5E81C5;
    text-decoration: none;
}

nav a:hover {
    color: white;
}


.selected a {
    color: black;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
    margin-top: 70px;
}

.not_found,
.footer-container footer {
    text-align:center;
}



@media only screen and (max-width: 414px) {
ul.topnav {display: none;}
/*
ul.topnav li:not(:last-child) {display: none;}
ul.topnav li.icon {
    float: center;
    display: block;
}
*/
nav ul {
    margin-top: 0px;
}
.dataTables_length{
    display: none;
}


}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.item_wrapper{
    width:90%;
    height:50%;
    margin:5px 0;
}

.vote_bar{
    width:60px;
    height:60px;
    display:block;
    float:left;

}

.image_bar{
    width:60px;
    height:60px;
    display:block;
    float:left;
}

.mainContent{
    width:310px;
    display:block;
    float:left;
}

.linksContent{
    width:480px;
    height:5px;
    display:block;
    float:left;

}
.vote_number{
    text-align:center
}

.fa-arrow-circle-up{
    margin-left: 40%;
    color: green;
}

.fa-arrow-circle-down{
    margin-left: 40%;
    color: red;
}

.fa-flag{
    color: red;
}

input, button, select {
    color: black;
    margin: 4px 0px;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

}

textarea {
    width: 70%;
    height: 70px;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input.info_link {
    width: 70%;
}

input[type=submit]{
    color: #fff;
    background:#5E81C5;;
}

li.error, .user_error, .login_error, .signup_error{
    color: red;
}

li.success{
    color: green;
}


#facebook{
    margin: 15px 0px;
    display: block;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 5px 0px;

}

#facebook a {
    color: #fff;
    text-decoration: none;

}

#google{
    margin: 15px 0px;
    display: block;
    color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
    padding: 5px 0px;
}

#google a {
    color: #fff;
}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

.vote_bar .vote_button_up{
    margin-left: 24px;
}

.vote_bar .vote_button_down{
    margin-left: 24px;
}

.vote_button_up{
    background: url('../images/arrow-up-s.png');
    display:inline-block;
    height:16px;
    width:16px;
}

.vote_button_down{
    background: url('../images/arrow-down-s.png');
    display:inline-block;
    height:16px;
    width:16px;

}

.forks {
    background: url('../images/forks.png');
    display:inline-block;
    height:64px;
    width:64px;
}

.about {
    background: url('../images/g-info.png');
    display:inline-block;
    height:16px;
    width:16px;
}


.back {
    background: url('../images/undo.png');
    display:inline-block;
    height:16px;
    width:16px;
}


/* DATATABLE OVERRIDE */


table.dataTable tbody td  {
    padding: 5px 0px;
    border: 1px solid black;
    text-align: center;
}
#create {
    padding-left: 10%;
}
/* ==========================================================================
   MODAL
   ========================================================================== */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 98%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #D3D3D3;
    color: white;
}

.modal-body {
    height: 300px;
    padding: 4px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #D3D3D3;
    color: white;
}

#formbox1 {
    float: left;
    width: 45%;
}

#formbox2, #forgot_username_form, #forgot_password_form, #change_password_form {
    float: right;
    width: 45%;
}

#forgot_username_form, #forgot_password_form, #commentForm, #change_password_form {
    display: none;
}

#spinner{
     display: none;
     z-index: 1; /* Sit on top */
     float: right;
     width: 100%;
     position: absolute;




}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 414px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        margin: 0 5px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    .main aside{
        margin-top: 15px;
    }

    ul.topnav li.icon {
        display: none;
    }


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 810px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 68%;
    }

    .main aside {
        float: right;
        width: 20%;
        margin-top: 0px;
    }

    .modal-content {
        width: 80%;
    }

    #formbox1 {
       padding-left: 40px;
       border-right: 1px solid #e0e0e0;
    }

    .mainContent {
        width: 710px;
    }



}



@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {

        margin: 0 auto;
    }

   .modal-content {
        width: 60%;
    }

    .mainContent {
        width: 710px;
    }


}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
