<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/normalize.min.css')}}">

    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">


</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="fb-root"></div>

<div class="header-container">

    <header class="wrapper clearfix">

        <h1 class="title"><div class="forks" aria-hidden="true"></div> Coffee Shop Finder  </h1>
          <nav>
            <ul class="topnav" id="myTopnav">

                <li><a href="/wrapper_create">Create New</a></li>
            </ul>
          </nav>
    </header>
</div>

<div class="main-container">
<div id="view" class="hidden">{{view}}</div>
<div id="auth" class="hidden">{{auth}}</div>
<i id="spinner" class="fa fa-spinner fa-3x fa-spin fa-fw"></i>
    <div class="main wrapper clearfix">
        <div class="user_error"></div>
    <!--<ul class=flashes>-->
        <!--<li id="user_error" class="error"></li>-->
    <!--</ul>-->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    </div> <!-- #main -->
</div> <!-- #main-container -->

<br />
<div class="footer-container">
    <footer class="wrapper">


    </footer>
</div>

<script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js' )}}"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>


<script src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js' )}}"></script>

</body>
</html>
