{% extends '_base.html' %} {% block content %}
<h3>Create Item</h3>


<form id="add_form" action="" method=post>
    <dl>
        <dt>Name:
        <dd><input type="text" name="name" required><br>

        <dt>Address:
        <dd><input type="text" name="address" required><br>

        <dt>Latitude:
        <dd><input type="text" name="latitude" required><br>

        <dt>Longitude:
        <dd><input type="text" name="longitude" required><br>

    </dl>
    <!-- TODO Add Auth here as well -->
    <p>
        <input type=submit value="Publish">
        <button id="cancel"><a href="/">Cancel</a></button>
</form>

{% endblock %}