{% extends '_base.html' %} {% block content %}
<div class="not_found">
    <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  Something went wrong!</h1>
    <h1><i class="fa fa-cogs" aria-hidden="true"></i> </h1>
    <p>If the problem persists please email support: <a href="mailto:info@poundtech.com?subject=Website%20Issue">info@poundtech.com</a></p>
    <p>Return <a href="/">home</a> </p>


</div>
{% endblock %}