{% extends '_base.html' %} {% block content %}
<h3>Find the nearest Coffee Shop</h3>
<form id="search_form" action="" method=post>
    <dl>
        <dt>Street:
        <dd><input type="text" name="street" required><br>
        <dt>City:
            <dd><input type="text" name="city" required><br>
        <dt>State:
            <dd><input type="text" name="state" required><br>
        <dt>ZipCode:
            <dd><input type="text" name="zipcode"><br>


    </dl>
    <p>
        <input type=submit value="Search">
        <button id="cancel_search"><a href="/">Cancel</a></button>
</form>
<hr />
Get Coffee Shop By ID:
<form id="get_form" action="/wrapper_read" method=post>
    <dl>
        <dt>ID: <input type="text" name="id" required> <input type=submit value="Submit">
    </dl>
</form>


<hr />
Delete Coffee Shop By ID:
<form id="delete_form" action="/wrapper_delete" method=post>
    <dl>
        <dt>ID: <input type="text" name="id" required>  <input type=submit value="Delete">
    </dl>
</form>

{% endblock %}
